@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic);

thead {
    font-weight: bold;
}

table {
    width: 100%;
}


h1, h2, h3 {
    margin-top: .8em;
    margin-bottom: .7em;
}

pre code {
    font-size: 18px !important;
    font-family: 'Courier New', monospace;
}

body {
    color: #353b44;
    background: #edece4;
    font-family: 'Lato', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:16px !important;    
    font-weight: 300;
}

h1,h2,h3,h4,h5{
    font-weight: 400;
}

label{
    font-weight: 300;
}

.sidebar-menu .fa {
    width: 30px;
    text-align: center;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
    outline: 0;
}

.panel-body a {
    line-height: 1.1;
    display: inline-block;
}
.panel-body a:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: #ff4088;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.panel-body a:hover:after, .panel-body a:focus:after {
    width: 100%;
}

input:focus, textarea:focus { outline: none; }
*:focus {outline: none;}
::selection {
    background: #ff4088;
    color: #fff;
}
::-moz-selection {
    background: #ff4088;
    color: #fff;
}

#container {
    width: 100%;
    height: 100%;
}

#sidebar {
    width: 205px;
    height: 100%;
    position: fixed;
    background: #ffffff;
    overflow-y: auto;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 60px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: #eeeeee;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 0 0 0 32px;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #737B83;
    font-size: 14px;
}

ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    color: #ff4088;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    line-height: 20px !important;
    text-transform: capitalize;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
    font-size: 16px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #8b9199;
    text-decoration: none;
    display: block;
    padding: 10px 0 10px 10px;
    font-size: 16px;
    font-weight: 300;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-right: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
    overflow:hidden;
}

ul.sidebar-menu li.active a, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #eeeeee;
    color: #ff4088;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;        
}

ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    border-bottom: 1px solid #ff4088;
}

ul.sidebar-menu .sub-menu li.active a{
    border-bottom: 1px solid #ff4088;   
}

ul.sidebar-menu li a i {
    font-size: 18px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #ff4088;
}

ul.sidebar-menu li.active a i {
    color: #ff4088;
}

#sidebar ul > li > a .menu-arrow { 
    float: right;    
    margin-right: 8px;
    margin-top: 6px;    
}

#main-content {
    margin-left: 205px;
    line-height: 1.8;
    font-size: 19px;
}

.header {
    min-height: 60px;
    padding: 0 10px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}

.black-bg {
    background: rgba(20,20,20,0.9);
    border-bottom: 1px solid #f1f2f7;
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding: 0px 15px 0px 15px;
    width: 100%;
}

a.logo {
    font-size: 22px;
    font-weight: 300;
    color: #8E8E93;
    float: left;
    margin-top: 11px;
    text-transform: uppercase;
    margin-right: 15%;
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

h1.top-menu {
    margin-top: -5px;
}

.title-row {
    margin-top: 15px;
    margin-left: 16px;
    color: #EEE;
}

.notification-row {
    float: right;
    margin-top: 15px;
    margin-left: 65px;
}

.top-nav  {
    margin-top: 15px;
}

.toggle-nav {
    float: right;
    padding-right: 5px;
    margin-top: 20px;
    cursor: pointer;
    color: gray;
}

.toggle-nav .icon-reorder {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
}

.capitalize {
  text-transform: capitalize;
}

@-webkit-keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

@-ms-keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

@keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

.note {
  margin: 30px 0;
  margin-left: -25px;
  padding: 20px 20px 24px;
  padding-left: 60px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  position: relative;
}

.note:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  border-color: transparent #222 #222 transparent;
  border-style: solid;
  border-width: 5px;
  width: 0;
  height: 0;
}

.note h1, .note p {
  margin: 0;
  color: #fff;
}

.note h1 {
  line-height: 1.5em;
  font-weight: 900;
  font-style: normal;
  font-size: 1.2em;
}

.note p {
  font-weight: 400;
  font-size: 0.9em;
}

.info {
  background-color: #0389aa;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#0389aa),to(#00617f));
  background-image: -webkit-linear-gradient(top,#0389aa 0%,#00617f 100%);
  background-image: -moz-linear-gradient(top,#0389aa 0%,#00617f 100%);
  background-image: -o-linear-gradient(top,#0389aa 0%,#00617f 100%);
  background-image: linear-gradient(to bottom,#0389aa 0%,#00617f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0389aa',endColorstr='#00617f',GradientType=0);
}

.warning {
  background-color: #9e2812;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#9e2812),to(#6f0d0d));
  background-image: -webkit-linear-gradient(top,#9e2812 0%,#6f0d0d 100%);
  background-image: -moz-linear-gradient(top,#9e2812 0%,#6f0d0d 100%);
  background-image: -o-linear-gradient(top,#9e2812 0%,#6f0d0d 100%);
  background-image: linear-gradient(to bottom,#9e2812 0%,#6f0d0d 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e2812',endColorstr='#6f0d0d',GradientType=0);
}

.info:before {
  border-color: transparent #00617f #00617f transparent;
}

.warning:before {
  border-color: transparent #6f0d0d #6f0d0d transparent;
}

.info:after {
  content: "✱";
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 35px;
  font-weight: 700;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

.warning:after {
  content: "⚠";
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 35px;
  font-weight: 700;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

.info a {
  color: #81BEF7;
}
