<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Hendrik Buchwald">
    <meta name="keyword" content="Open Source Web Application Firewall">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <title>Shadow Daemon: {{.Title}}</title>
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet" />
    <link href="/css/monokai_sublime.css" rel="stylesheet" />
  </head>
  <body>
  <!-- container section start -->
  <section id="container" class="">
      <!--header start-->
      <header class="header black-bg" style="white-space: nowrap">
            <div class="toggle-nav">
                <i class="fa fa-bars"></i>
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
            </div>
            <!--logo start-->
            <a href="/" class="logo"><i class="fa fa-shield fa-2x" title="Home"></i></a>
            <!--logo end-->
            <div class="nav title-row" id="top_menu">
                <h1 class="nav top-menu"> {{.Title}} </h1>
            </div>
      </header>
      <!--header end-->
{{ partial "menu.html" . }}
      <!--main content start-->
      <section id="main-content">
        <section class="wrapper">
          <div class="row">
            <div class="col-md-12">
              <section class="panel">
                <div class="panel-body">
                  <noscript>
                    <div class="note warning">
                      <h1>Missing requirement!</h1>
                      <p>Enable Javascript or expect broken functionality.</p>
                    </div>
                  </noscript>
